.menu{
    position: sticky;
    top: 0;
    z-index: 1020;
    display: block;
    padding: 10px;
    text-align: center;
    margin:50px;
    top: 50px;  
    z-index: 1000; 
    padding: 10px; 
}
.menu select, .menu input, .menu button {
    margin: 5px;   
}
.menu select,
.menu input[type="text"],
.menu button {
    flex: 1; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 5px; 
    box-sizing: border-box; 
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
   #mytable {
        font-size: 12px; 
    }
    #mytable, #mytable tbody, #mytable tr, #mytable th, #mytable td {
        display: block;
        width: 100%;
    }
     #mytable tr {
        margin-bottom: 15px;
        border: 1px solid #ccc;
    }
    #mytable td {
        text-align: right;
        text-align: center; 
        position: relative;
        padding-left: 50%; 
    }
  }
