.menu{
    position: sticky;
    top: 0;
    z-index: 1020;
    display: block;
    padding: 10px;
    text-align: center;
    margin:50px;
    top: 50px;  
    z-index: 1000; 
    padding: 10px; 
}
.menu select, .menu input, .menu button {
    margin: 5px;   
}
.menu select,
.menu input[type="text"],
.menu button {
    flex: 1; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 5px; 
    box-sizing: border-box; 
    cursor: pointer;
}
table{
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
}
.table th {
  margin-top: 0px;
  border: 0;
  font-family: Tahoma, "Times New Roman" , Times, serif;
  font-weight: bold;
  color: White;
  background:#6296C5;
  padding: 2px;

}
.table tr td
{
    font-size: 85%;  
    border-bottom: 1px dotted #ccc;
    padding: 3px 4px;       
}
